
 <div class="eqLogic-widget eqLogic allowResize allowReorderCmd" style="width: 350px;border:#border#;border-radius:#border-radius#;height:auto !important;background-color:#94CA02;color: #color#;#style# box-shadow: 0px 2px 3px #595959;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
    <div>
        <span class="cmd cmd-widget hidden" id="eqLogicID" style="height: 10%; width: auto;">#eqLogicID#</span>
        <i class='fa fa-refresh pull-right cursor refresh tooltips' title="Rafraîchir" style="margin-top: 3px;margin-right: 3px;"></i>
        <center class="widget-name" style="box-shadow: black;">
            <a href="#eqLink#" style="font-size : 1.3em; #hideEqLogicName#">#name_display# <span style="font-size: 0.85em;position: relative;top:-2px; margin-top: 5%;">#object_name#</span></a>
        </center>
        <div class="row" style="">
            <div class="col-xs-1"></div>
            <div class="col-xs-4" id="containerLeft" style="display:flex; flex-direction:column; flex-wrap: wrap;">plop</div>
                
            <div class="col-xs-2"></div>   
            <div class="col-xs-4" id="containerRigth" style="display:flex; flex-direction:column; flex-wrap: wrap;">
            </div>
        </div>    
        <div class="col-xs-1"></div>    
    </div>

    <div class="row" style="margin-left: 8%; margin-right: 10%;">
        <hr>
        <div id="content4cmd" style="display:flex; justify-content:space-around; flex-wrap:wrap;">plop</div>
    </div>
</div>